#playground
{
    height: 609px;
    width: 609px;

    margin-left: 300px;
    /*display: inline-block;*/
    display: table;
}

.row {
    float: left;
}

.pixel
{
    height: 200px;
    width: 200px;
    border: solid 1px black;
    border-color: darkolivegreen;
    background: yellowgreen;
    color: darkolivegreen;

    display: table-cell;
    vertical-align: middle;

    font-size: 150px;
    font-style: normal;

    text-align: center;
    text-decoration: black;
}

.red {
    background: lightcoral;
    color: crimson;
}